*{
    padding: 0;
    margin: 0;
}
body{
    background-color: aqua;
}
.layout{
    width: 960px;
    margin: 0 auto;
}
#row1{
    height: 60px;
    width: 100%;
    background-color: white;
}
.header_section{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{}
.logo h3{}
.logo{}
.menu ul{
    display: flex;
   
}
.menu ul li {
    padding-left: 30px;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
}
.blog_btn{}
.search_bar{}
.search_bar input{}
.search_bar i{}

/* *******************Row2*********************** */
#row2{
    height:500px;
    width:100%;
    background: url(../image/buil2.png);
    background-repeat: no-repeat;
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner_section{
    width:80%;
    color:black;
    text-align:center ;


}
.banner_section h1{
    font-size:20px;
    text-transform: uppercase;
    text-align: center;
}
.banner_section p{
    text-align: justify;
    padding-bottom: 20px;
}
.banner_section button{
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 10px;
}
/* ***************Featur Section******************* */
#row3{
    height:500px;
   background-color: white;
   padding-left: 30px;
    

}
.service_section{ 
    
}
.service_section h3{
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;

}
.service_container{

    width:90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}
.service_item{ 
    text-align: center;
}
.service_item i{
    height:80px;
    width:80px;
    background-color: blue;
    border-radius: 50%;
    line-height: 80px;
    font-size: 30px;
}
.service_item h4{
    padding-top: 20px;
}
.service_item p{
    text-align: center;
   

}


